/* -----------------
  Bootstrap
-------------------- */
@import "~bootstrap/scss/bootstrap";


/* -----------------
  INCLURE UN FICHIER
-------------------- */
@import 'variables';
// Icons
@import '~material-icons/iconfont/material-icons.scss';

// Font Roboto
@import '~typeface-roboto/index.css';

@import 'header';
@import 'footer';

@import 'cartouche';
@import 'principal';

$body-color: $body-color;

html, body {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  margin: 0;
  padding:0;
  font-family: 'Roboto';
}

body {
  min-height: 100%;
  color: $body-font;
  background-color: $light;
}

main {
  height: 100%;
  padding-top: 56px; 
}

main > section:nth-child(1) {
  height: 100%;
}
.p-content  {
  border-bottom: solid 1px grey;
}
